/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row { padding: 0 2%; }
}

@media only screen and (max-width: 1024px) {
    .hero-text-box {
        left: 40%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 18px;
    }

    .logo {
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    .main-nav {
        display: none;
    }

    .hero-text-box {
        left: 30%;
    }

    .section-value .flex-container {
        flex-wrap: wrap;
    }

    .section-value .flex-container div {
        width: 37%;
    }

    .section-value .flex-container div:nth-child(1),
    .section-value .flex-container div:nth-child(2) {
        margin-bottom: 40px;
    }

    .section-featured-product .flex-container {
        flex-direction: column;
    }

    .featured-product-text {
        text-align: center;
    }

    .featured-product-text li {
        margin-left: 0;
        display: block;
    }

    .section-case-study .flex-container {
        flex-direction: column-reverse;
    }

    .case-study-text {
        margin: 0 auto;
        text-align: center;
        width: 87%;
    }

    .case-study-text a {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 17px;
    }

    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    section {
        padding: 40px 0;
    }
    
    .section-hero {
        height: 50vh;
        background-position: bottom;
        padding-top: 10px;
    }

    .hero-text-box {
        position: relative;
        left: 0;
        top: 0;
    }

    .cdi-partners img {
        width: 60%;
    }

    .section-cdi .flex-container {
        flex-wrap: wrap;
    }

    .section-value .flex-container div,
    .section-cdi .flex-container div {
        width: 80%;
    }

    .footer-nav {
        display: none;
    }

    .copyright {
        margin: 0 auto;
    }

}